<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
  <h1>About Us</h1>
  <% include templates/nav.ejs %>
  <p>
      Currently our club has around seven active members. These include the President, Jessica Gerwin, the Co-President Alexander, the two officers
      Duncan Grubbs and Luke Martel, Sebastian Boyd, Max Starr, and Noah Marty. We meet most Wednesdays in room 107 (Mr. Milstead's room).
  </p>

  <p>CONTENT</p>

  </body>
</html>