<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>

  <h1>
    Welcome to the <%= title %> Website!
  </h1>
  <% include templates/nav.ejs %>

  <p>
    <strong> Welcome</strong> to the <em><a href="http://www.tamdistrict.org/drake">Drake</a> Devolpers Club</em> Website!
  </p>

  <p>
    The Drake Developers Club is a club based around computer programming and web development.
    We accept all levels of programmers from no programming experiance to advanced level programmers.
  </p>

  </body>
</html>
